@import '../../../assets/scss/variables.scss';

.logo {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: $whiteColor;
    position: relative;
    display: inline-flex;
    align-items: center;

    &::before {
        content: '';
        height: 41px;
        width: 1px;
        background-color: $whiteColor;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        margin-left: -7px;
    }
}
