$containerWidth: 1300px;
$greenColor: #28b42d;
$whiteColor: #ffffff;
$grayColor: #e6e7e8;
$gray60Color: #b6b6b6;
$grayDisabledColor: #969696;
$secondary80: #595959;
$secondary90: #424242;
$background: #222222;
$errorColor: #f7473b;
$infoColor: #4889fc;
$warningColor: #ffbe27;
$successColor: #00cd73;
