@import '../../assets/scss/variables.scss';

.services {
    position: relative;
    &__wrapper {
        position: relative;
        padding-bottom: 12.5%;
        &::before {
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
            right: 0;
            height: 1px;
            background: var(--gray-40, #e6e7e8);
        }
    }
    &__blocks {
        display: flex;
        align-items: center;
        gap: 135px;
        @media (max-width: 1440px) {
            flex-direction: column;
            flex-wrap: wrap;
            gap: 25px;
        }
    }
    &__block {
        display: flex;
        gap: 24px;
        &-title {
            color: $background;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -0.48px;
            white-space: nowrap;
            overflow: hidden;
            @media (max-width: 560px) {
                font-size: 36px;
            }
        }
        &-text {
            color: $background;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
    &__image {
        overflow: hidden;
        padding-top: 70px;

        img {
            position: absolute;
            width: 100%;
            z-index: 5;
        }
    }
}
